@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center my-5">
    <h1 class="display-4 mb-4">EventMVC</h1>
    <a asp-controller="Event" asp-action="Index" class="btn btn-outline-success">
        Go To Events
    </a>
</div>